{% extends 'notes/layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block bgImage %}

<div class="jumbotron" id="backgroundImage">

    <h1 class="display-4 noteHead mt-lg-4">Take Your Notes</h1>
    <p class="lead text-center" style="color: mintcream;">A simple app to take notes from anywhere, anytime!</p>
    <hr class="my-4">
    
    <p class="lead text-center">
      <a class="btn btn-outline-light btn-lg" href="{% url 'notes-add' %}" role="button">Take Notes</a>
    </p>
</div>


{% endblock bgImage %}