{% extends 'notes/layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- {% for note in notes %}
    <h1>{{note.note_title}}</h1>
{% endfor %} -->
home

<!-- {% for note in notes %}

<div class="container">
    <div class="card box">
        <div class="card-body">
        <h5 class="card-title">{{ note.note_title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ note.note_title }}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

{% endfor %} -->

{% endblock %}