{% extends 'notes/layout.html' %}
{% block title %} Notes {% endblock %}
{% block content %}
  

<div class="container">
    {% for note in notes %}
        <div class="card box">
            <div class="card-body">
                <h5 class="card-title">{{ note.note_title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ note.date_created|date:"d M Y, f a"}}</h6>
                <p class="card-text ml-1">{{ note.note_content}}</p>
                <a href="{% url 'notes-update' note.pk %}" class="btn btn-secondary btn-sm mt-1 mb-1"><i class="far fa-edit mr-2"></i>Update</a>
                <a href="{% url 'notes-delete' note.pk %}" class="btn btn-danger btn-sm mt-1 mb-1"><i class="far fa-trash-alt mr-2"></i>Delete</a>

            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}